<section class='contacts-display'>
  <p class='contacts-msg'>There are <span id='contact-counter'><%= @contacts.count %></span> contacts</p>

  <ul class='contact-list'>
    <%@contacts.each do |contact| %>
      <li>
        <p>
          <a class ='contact-link' href="/contacts/<%=contact.id%>">
            <%=contact.first_name.capitalize%> <%=contact.last_name.capitalize%>
          </a>
          (<%=contact.email%>)
        </p>
        <p class='mod-links'><a href="#">Edit</a> | <a href="#">Delete</a></p>
      </li>
    <%end%>
  </ul>
</section>
